.personajes{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top:20px;
}

.personajes-titulo{
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;

    &__caption{
        margin-top:30px;
        font-size: 32px;
    }

    &__img{
        width: 267px;
        height: 320px;
    }
}

.personaje-detalles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__caja{
        width: 248px;
        display: flex;
        flex-direction: column;
        
    }
    &__lista{
        margin-top: 49px;
        height: 231px;
    }
    &__lista p{
        margin-bottom: 16px;
    }

    &__img img{
        margin-top: 49px;
        margin-bottom: 16px;
        width: 248px;
        height: 231px;
        object-fit: contain;
    }
}

// .text-large{
//     font-size:36px;
//     color: #ffffff;
// }

// .text-medium{
//     font-size:24px;
//     color: #ffffff;
// }

// .text-small{
//     font-size:16px;
//     font-family: Lato;
//     font-weight: normal;
//     font-stretch: normal;
//     font-style: normal;
//     line-height: normal;
//     letter-spacing: normal;
//     color: #ffffff;
// }