.personajes-body{
  width: 95%;
  margin: 0 auto;
  position: relative;
    top: 4em;
}

.images {
    width: 248px;
    max-height: 320px;
    //object-fit: contain;
    display: block;
    //image-rendering: optimizeSpeed;
  }

  .main-figure{
    //width: 15%;
    margin-bottom: 68px;
  }

 

  .overlay {
    width: 248px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
    opacity:1;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
 }
 .images:hover .overlay {
    opacity: 1;
 }