.galery{
    width: 95%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    //align-items: center;
    //margin-left: 156px;
    //margin-right: 156px;
position: relative;
    top: 4em;    
}
.casas-galery{
    display: flex;
    flex-wrap: wrap;
    


    &__casa{
        width: 248px;
        margin:24px;
    }
    &__img{
        width: 248px;
        height: 297px;
    }

    &__caption{
        margin-top: 28px;
    }

}