.avatar-img {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  object-position: top;
  object-fit: cover;
}

.container1 {
  display: flex;
  height: 11.4rem;
  align-items: stretch;
  justify-content: center;
  .item1 {
    background-color: black;
    border: 1px solid white;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin-top: 8rem;
  }
}

.container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20rem;
    align-items: stretch;
    justify-content: center;

.item2 {
    width: 20rem;
    margin: 0;
  padding: 0;

&:nth-child(1) {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  color: white;



 }
&:nth-child(2) {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
color: white;


 }

}
}
