@font-face {
    font-family: GameofThrones;
    src: local(GameofThrones),
      url(./fonts/GameofThrones.woff2) format("woff2"),
      url(./fonts/GameofThrones.woff) format("woff"),
      url(./fonts/GameofThrones.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: Lato;
    src: local(lato-regular),
      url(./fonts/lato-regular.woff2) format("woff2"),
      url(./fonts/lato-regular.woff) format("woff"),
      url(./fonts/lato-regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  .Games-of-Thrones {
    width: 100%;
    height: 390px;
    font-family: GameofThrones;
    font-size: 176px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
  margin: 0 auto;
  position: relative;
    top: 1em;
  }
  
  .Text-Style {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

.backgroundimg {
    background-image: url(../styles/images/ironthrone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }