.App {
  text-align: center;
  color: white;
}

*{
  margin: 0;
  padding: 0;

}

body{
  text-align: center;
  background-image: none;
  background-color: black;

}

@font-face {
  font-family: GameofThrones;
  src: local(GameofThrones),
    url(./styles/fonts/GameofThrones.ttf) format("woff2"),
    url(./styles/fonts/GameofThrones.woff) format("woff"),
    url(./styles/fonts/GameofThrones.woff2) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Lato;
  src: local(lato-regular),
    url(./styles/fonts/lato-regular.ttf) format("woff2"),
    url(./styles/fonts/lato-regular.woff) format("woff"),
    url(./styles/fonts/lato-regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
.nav {
  display: inline;
  width: 100%;
  height: 44px;
  font-family: GameofThrones;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.nav-list__item{
  display:inline;
  padding-left:6px;
  padding-right:6px;
  color:  #ffffff;
  margin: auto;

}

.Flags {
  float: top;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;

}

.littleHouse {
   float: top;
  position: absolute;
  top: 8px;
  right: 0;
  margin-right: 150px;
}

.menu-bottom {
  width:100%;
  padding: 1rem;
  text-align: center;
  float: bottom;
  position: absolute;
  bottom: 0;
  margin-right: 8px;
  justify-content: space-around;
}

a {
  color: white;
}





