
@font-face {
  font-family: GameofThrones;
  src: local(GameofThrones),
    url(./styles/fonts/GameofThrones.woff2) format("woff2"),
    url(./styles/fonts/GameofThrones.woff) format("woff"),
    url(./styles/fonts/GameofThrones.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Lato;
  src: local(lato-regular),
    url(./styles/fonts/lato-regular.woff2) format("woff2"),
    url(./styles/fonts/lato-regular.woff) format("woff"),
    url(./styles/fonts/lato-regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

body {
  margin: 0;
  font-family: GameofThrones;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-large{
  font-size:36px;
  font-family: GameofThrones;
  color: #ffffff;
}

.text-medium{
  font-size:24px;
  font-family: GameofThrones;
  color: #ffffff;
}

.text-small{
  font-size:16px;
  font-family: Lato;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.text-small-s{
  font-size:14px;
  font-family: GameofThrones;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
}

.text-decoration__none{
  text-decoration: none;
}

@import "~bootstrap/scss/bootstrap-grid";
